body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
.jumbotron {
  text-align: center;
}
.jumbotron h1{
  font-family: 'Kreon',Georgia,serif;
}
.jumbotron .tagline{
  font-size: 8vw;
  font-family: 'Kristi', cursive;
}
>>>>>>> 3f186bd5c9d26971c5797f224762f856c632a0a3

#book_1 {
  width: 250px;
  height: 250px;
}

#book1_details {
  position: absolute;
  margin-left: 260px;
}

table, td, tr {
  max-width: 450px;
  padding: 5px;
<<<<<<< HEAD
=======
.jumbotron {
  text-align: center;
}
.jumbotron h1{
  font-family: 'Kreon',Georgia,serif;
}
.jumbotron .tagline{
  font-size: 8vw;
  font-family: 'Kristi', cursive;
>>>>>>> d900c58fe88b35fca164633cb2291a1c30b0b9ce
=======
>>>>>>> 3f186bd5c9d26971c5797f224762f856c632a0a3
}
